<h1 >My name is <%= @name %></h1>
<% if @name == nil  %>
<form action="/named-cat" >
  <div>
    <input type="text" name="name">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>
<% end %>
<div style='border: 5px groove red'>
  <img src='http://bit.ly/1eze8aE'>
</div>
